html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "HelveticaNeue", "Montserrat", "Roboto", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.app {
  background: #33333d;
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.contaiter {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  flex: 1;
  max-width: 840px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 60px 30px 0;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title h1 {
  font-size: 35px;
  display: flex;
  flex-shrink: 1;
  line-height: 1.2;
}

.title div {
  font-size: 18px;
  line-height: 1.6;
  margin-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cb-label {
  display: flex;
  flex: 1;
  margin-bottom: 5px;
  margin-left: 30px;
  justify-content: flex-end;
  white-space: nowrap;
  flex-shrink: 0;
}

.card {
  padding: 30px;
  background: white;
  margin: 30px;
}

.card-title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
}

.apps-list {
  padding-top: 23px;
}

.app-name {
  color: #4a4a4a;
  line-height: 1.2;
}

.apdex {
  color: #4a4a4a;
  opacity: 62%;
  line-height: 1.5;
  font-size: 13px;
  margin-right: 1rem;
}

.main {
  display: flex;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
  padding: 30px;
}

.main > div.card {
  width: 375px;
  margin: 0;
  margin-bottom: 30px;
}
